# Build
/build/
/packages/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.dylib

# IDE
.vscode/
.idea/
*.sublime*
*.swp
.paker

# OS
.DS_Store
Thumbs.db

# Others
some_prompt.md
Paker.json